package %package%.server;

import io.aeron.Subscription;
import org.agrona.concurrent.Agent;

import stoufexis.jarpc.lib.model.*;
import stoufexis.jarpc.lib.server.*;
import stoufexis.jarpc.lib.util.*;

import static stoufexis.jarpc.lib.util.Util.createServerSubscription;

import %package%.common.*;

public final class ConcurrentJarpc%Service%Server implements Agent, AutoCloseable {

  private final SingleThreadedJarpc%Service%Server singleThreadedServer;

  private final Concurrent%Service%Server concurrent%Service%Server;

  private final ServerErrorHandler errorHandler;

  private final Concurrent%Service%Server.PostOrderResponseHandler postOrderResponseHandler;
  private final Concurrent%Service%Server.CancelAllResponseHandler cancelAllResponseHandler;

  private final MPSCRingBuffer<PostOrderResponseScratch> postOrderResponses;
  private final MPSCRingBuffer<CancelAllResponseScratch> cancelAllResponses;

  private final PostOrderAgent postOrderAgent;
  private final CancelAllAgent cancelAllAgent;

  ConcurrentJarpc%Service%Server(
      Concurrent%Service%Server concurrent%Service%Server,
      Subscription subscription,
      ServerPublications publications,
      ServerErrorHandler errorHandler,
      Images images,
      int queueCapacity) {
    this.errorHandler = errorHandler;
    this.concurrent%Service%Server = concurrent%Service%Server;
    this.singleThreadedServer =
        new SingleThreadedJarpc%Service%Server(
            subscription,
            publications,
            images,
```foreachType
            new %Type%RequestHandler(),
```foreachType
            errorHandler);
```foreachType
    this.%type%ResponseHandler = new %Type%ResponseHandler();
    this.%type%Responses = new MPSCRingBuffer<>(queueCapacity, %Type%ResponseScratch::new);
    this.%type%Agent = new %Type%Agent();
```foreachType
  }

  public static ConcurrentJarpc%Service%Server create(
      Concurrent%Service%Server concurrent%Service%Server,
      ConnectivityConfig cfg,
      ServerErrorHandler errorHandler,
      int queueCapacity) {
    Images images = new Images();

    Subscription subscription =
        createServerSubscription(cfg.aeron(), images, cfg.requestEndpoint(), cfg.requestStreamId());

    return new ConcurrentJarpc%Service%Server(
        concurrent%Service%Server,
        subscription,
        new ServerPublications(cfg.responseControl(), cfg.aeron(), cfg.responseStreamId()),
        errorHandler,
        images,
        queueCapacity);
  }

  @Override
  public void onStart() {
```foreachType
    concurrent%Service%Server.register%Type%(%type%ResponseHandler);
```foreachType
  }

  @Override
  public int doWork() {
    int work = 0;
    work += singleThreadedServer.poll(1);
```foreachType
    work += %type%Agent.doWork();
```foreachType
    return work;
  }

  @Override
  public String roleName() {
    return "ConcurrentJarpc%Service%Server";
  }

  @Override
  public void close() {
    singleThreadedServer.close();
  }

```foreachType
  private final class %Type%RequestHandler
      implements SingleThreaded%Service%Server.%Type%RequestHandler {
    @Override
    public boolean onRequest(long clientId, long correlationId, %Type%RequestDecode t) {
      return concurrent%Service%Server.%type%(clientId, correlationId, t);
    }
  }

  private final class %Type%ResponseHandler
      implements Concurrent%Service%Server.%Type%ResponseHandler {
    @Override
    public boolean onResponse(long clientId, long correlationId, %Type%ResponseDecode t) {
      return %type%Responses.offer(%Type%ResponseScratch::setter, t, clientId, correlationId);
    }
  }

  private final class %Type%Agent extends MPSCBufferPollAgent<%Type%ResponseScratch> {
    %Type%Agent() {
      super(
          %type%Responses,
          new %Type%ResponseScratch(),
          %Type%ResponseScratch::copy,
          errorHandler::onCorruptPublication);
    }

    @Override
    protected boolean processRequest(%Type%ResponseScratch scratch) {
      %Type%ResponseEncode encode =
          singleThreadedServer.claim%Type%(
              scratch.getClientId(), scratch.getCorrelationId(), claimHandle);

      if (encode == null) return handleError();

      encode.set(scratch);
      return true;
    }
  }
```foreachType
}
