package %package%.server;

import io.aeron.*;
import io.aeron.logbuffer.BufferClaim;
import org.agrona.DirectBuffer;

import stoufexis.jarpc.lib.server.*;
import stoufexis.jarpc.lib.model.*;
import stoufexis.jarpc.lib.util.*;

import static stoufexis.jarpc.lib.util.Util.createServerSubscription;
import static stoufexis.jarpc.lib.util.Util.illegal;

import %package%.common.*;
import static %package%.common.Metadata.*;

public class SingleThreadedJarpc%Service%Server extends SingleThreadedJarpcServer
    implements SingleThreaded%Service%Server, AutoCloseable {

```foreachType
  private final %Type%RequestHandler %type%RequestHandler;

  private final %Type%ResponseEncodeImpl %type%ResponseEncode =
      new %Type%ResponseEncodeImpl();

  private final %Type%RequestDecodeImpl %type%RequestDecode =
      new %Type%RequestDecodeImpl();
```foreachType

  SingleThreadedJarpc%Service%Server(
      Subscription subscription,
      ServerPublications publications,
      Images images,
```foreachType
      %Type%RequestHandler %type%RequestHandler,
```foreachType
      ServerErrorHandler errorHandler) {
    super(subscription, publications, images, errorHandler);
```foreachType
    this.%type%RequestHandler = %type%RequestHandler;
```foreachType
  }

  public static SingleThreadedJarpc%Service%Server create(
      ConnectivityConfig cfg,
```foreachType
      %Type%RequestHandler %type%RequestHandler,
```foreachType
      ServerErrorHandler serverErrorHandler) {
    Images images = new Images();

    Subscription serverSubscription =
        createServerSubscription(cfg.aeron(), images, cfg.requestEndpoint(), cfg.requestStreamId());

    return new SingleThreadedJarpc%Service%Server(
        serverSubscription,
        new ServerPublications(cfg.responseControl(), cfg.aeron(), cfg.responseStreamId()),
        images,
```foreachType
        %type%RequestHandler,
```foreachType
        serverErrorHandler);
  }

  protected boolean onMessage(
      long clientId,
      int messageType,
      long correlationId,
      DirectBuffer buffer,
      int offset,
      int length) {
    return switch (messageType) {
```foreachType
      case %TYPE%_MESSAGE_TYPE -> on%Type%Request(clientId, correlationId, buffer, offset, length);
```foreachType
      default -> throw illegal("Unknown message type " + messageType);
    };
  }

```foreachType
  @Override
  public %Type%ResponseEncode claim%Type%(
      long clientId, long correlationId, ClaimHandle claimHandle) {
    Publication publication = getPublication(clientId);

    if (publication == null) {
      claimHandle.setFailed(ErrorCode.CLIENT_NOT_EXISTS);
      return null;
    }

    BufferClaim claim = claimHandle.getClaim();
    ErrorCode code = Publisher.tryClaim(%TYPE%_RESPONSE_SIZE, claim, publication);

    if (code != null) {
      claimHandle.setFailed(code);
      return null;
    }

    int newOffset = Publisher.encodeHeader(correlationId, %TYPE%_MESSAGE_TYPE, claim);
    claimHandle.setSuccess(correlationId);
    %type%ResponseEncode.set(claim.buffer(), newOffset);
    return %type%ResponseEncode;
  }

  private boolean on%Type%Request(
      long clientId, long correlationId, DirectBuffer buffer, int offset, int length) {

    if (length != %TYPE%_REQUEST_SIZE) {
      throw illegal("Unable to process %Type%Request");
    }

    %type%RequestDecode.set(buffer, offset);
    return %type%RequestHandler.onRequest(clientId, correlationId, %type%RequestDecode);
  }
```foreachType

```foreachType
  @Override
  public %Type%ResponseEncode claim%Type%(
      long clientId, long correlationId, ClaimHandle claimHandle) {
    Publication publication = getPublication(clientId);

    if (publication == null) {
      claimHandle.setFailed(ErrorCode.CLIENT_NOT_EXISTS);
      return null;
    }

    BufferClaim claim = claimHandle.getClaim();
    ErrorCode code = Publisher.tryClaim(%TYPE%_RESPONSE_SIZE, claim, publication);

    if (code != null) {
      claimHandle.setFailed(code);
      return null;
    }

    int newOffset = Publisher.encodeHeader(correlationId, %TYPE%_MESSAGE_TYPE, claim);
    claimHandle.setSuccess(correlationId);
    %type%ResponseEncode.set(claim.buffer(), newOffset);
    return %type%ResponseEncode;
  }

  private boolean on%Type%Request(
      long clientId, long correlationId, DirectBuffer buffer, int offset, int length) {

    if (length != %TYPE%_REQUEST_SIZE) {
      throw illegal("Unable to process %Type%Request");
    }

    %type%RequestDecode.set(buffer, offset);
    return %type%RequestHandler.onRequest(clientId, correlationId, %type%RequestDecode);
  }
```foreachType

```foreachType
  private static final class %Type%RequestDecodeImpl extends DecodeUtil
      implements %Type%RequestDecode {
```foreachRequestField
    @Override
    public %fieldType% get%Field%() {
      return buffer.get%FieldType%(offset + %fieldOffset%);
    }
```foreachRequestField
  }

  private static final class %Type%ResponseEncodeImpl extends EncodeUtil
      implements %Type%ResponseEncode {
```foreachResponseField
    @Override
    public void set%Field%(%fieldType% %field%) {
      buffer.put%FieldType%(offset + %fieldOffset%, %field%);
    }
```foreachResponseField
  }
```foreachType
}
