package %package%.server;

import stoufexis.jarpc.lib.model.*;

import %package%.common.*;

public interface SingleThreadedExchangeServer extends Poll {

```foreachType
  %Type%ResponseEncode claim%Type%(
      long clientId, long correlationId, ClaimHandle claimHandle);

  interface %Type%RequestHandler {
    boolean onRequest(long clientId, long correlationId, %Type%RequestDecode t);
  }
```foreachType
}
