package %package%.common;

public final class Metadata {
  private Metadata() {}

```foreachType
  public static final int %TYPE%_REQUEST_SIZE = %typeRequestSize%;
  public static final int %TYPE%_RESPONSE_SIZE = %typeResponseSize%;
  public static final int %TYPE%_MESSAGE_TYPE = %typeId%;
```foreachType
}
