```foreachType
package %package%.common;

public interface %Type%RequestEncode {
```foreachRequestField
    void set%Field%(%fieldType% %field%);
```foreachRequestField

  default void set(%Type%RequestDecode decode) {
```foreachRequestField
    set%Field%(decode.get%Field%());
```foreachRequestField
  }
}
```foreachType
