package %package%.common;

import %package%.client.ConcurrentExchangeClient;

public final class %Type%RequestScratch
    implements %Type%RequestDecode, %Type%RequestEncode {

```foreachRequestField
  private %fieldType% %field%;
```foreachRequestField

  private ConcurrentExchangeClient.%Type%ResponseHandler handler;

  public static void copy(%Type%RequestScratch scratch1, %Type%RequestScratch scratch2) {
    setter(scratch1, scratch2, scratch2.getHandler());
  }

  public static void setter(
      %Type%RequestScratch scratch,
      %Type%RequestDecode decode,
      ConcurrentExchangeClient.%Type%ResponseHandler handler) {
    scratch.set(decode);
    scratch.setHandler(handler);
  }

  public ConcurrentExchangeClient.%Type%ResponseHandler getHandler() {
    return handler;
  }

```foreachRequestField
  @Override
  public %fieldType% get%Field%() {
    return %field%;
  }

  @Override
  public void set%Field%(%fieldType% %field%) {
    this.%field% = %field%;
  }
```foreachRequestField

  public void setHandler(ConcurrentExchangeClient.%Type%ResponseHandler handler) {
    this.handler = handler;
  }
}
