package %package%.common;

public final class %Type%ResponseScratch
    implements %Type%ResponseDecode, %Type%ResponseEncode {
```foreachResponseField
  private %fieldType% %field%;
```foreachResponseField

  public static void copy(%Type%ResponseScratch scratch1, %Type%ResponseScratch scratch2) {
    setter(scratch1, scratch2, scratch2.clientId, scratch2.correlationId);
  }

  public static void setter(
      %Type%ResponseScratch scratch,
      %Type%ResponseDecode decode,
      long clientId,
      long correlationId) {
    scratch.set(decode);
    scratch.setClientId(clientId);
    scratch.setCorrelationId(correlationId);
  }

```foreachResponseField
  @Override
  public %fieldType% get%Field%() {
    return %field%;
  }

  @Override
  public void set%Field%(%fieldType% %field%) {
    this.%field% = %field%;
  }
```foreachResponseField
}
