package %package%.client;

import stoufexis.jarpc.lib.client.*;
import stoufexis.jarpc.lib.model.*;

import %package%.common.*;

public interface SingleThreaded%Service%Client extends Poll {

```foreachType
  %type%RequestEncode claim%Type%(ClaimHandle claimHandle);
```foreachType

```foreachType
  interface %Type%ResponseHandler extends ClientHandler {
    boolean onResponse(long correlationId, %Type%ResponseDecode t);
  }
```foreachType
}
